body{background:#4E92EF; font-size:.17rem;color:#FFFFFF}
.top_menu{border-bottom:1px solid #92CCFFFF}
.top_menu .top_menu_btn{padding-top: .14rem; padding-bottom: .14rem; font-size:.17rem;}
.top_menu_btn a { color: #fff; }
.sec_menu {margin-top:.1rem;}
.sec_menu .sec_menu_btn {height: .3rem;}
.sec_menu .sec_menu_btn .sec_btn { color: #426A8DFF; height: .2rem;line-height: .2rem;  background: rgba(210,234,255,1); border-radius: .1rem .1rem 0px 0px; text-align: center; font-size: .14rem; margin-top: .1rem;}
.sec_menu .sec_menu_btn .sec_btn.active_menu {height: .3rem; line-height: .3rem; background: rgba(255,255,255,1);}
.sec_btn.active_menu {margin-top: 0!important;}
.main_wrapper .container{padding-right: 5px;padding-left: 5px;}
.main_wrapper .container .row{margin-left:-5px;margin-right:-5px;}
.main_wrapper .container .row .col-xs-4{padding-right: 5px;padding-left: 5px;}
.content_wrapper {background: rgba(229,243,255,1);border-radius: 5px 5px 30px 30px;height: 4rem;box-shadow: 0px 0px 9px 0px rgba(14,80,166,0.3), 0px 0px 98px 0px rgba(75,167,250,1), 0px 0px 37px 0px rgba(57,149,233,1) inset;overflow: auto}
.each_module {height: .75rem; width: 97%; background: #F8FBFFFF; margin: .1rem .05rem; border-radius: 5px;}
.each_module .col-xs-6 {height: .75rem;}
.each_module .col-xs-3,.each_module .col-xs-3 .img_wrapper {padding: 5px;position: relative;/*width: .7rem;*/height: .75rem;}
.each_module .col-xs-3.move_wrapper{overflow: hidden;}
.each_module .col-xs-3 img{ position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;max-width: 100%;max-height: 100%;}
.each_module .move_wrapper .showHide{}
.each_module .col-xs-6,.each_module .col-xs-6 .col-xs-12{padding: 0 5px;}
.each_module .col-xs-6 .col-xs-12{ height:.25rem;line-height:.25rem;}
.each_module .col-xs-6 .col-xs-12 .info{ display: inline-block; line-height: .1375rem; vertical-align: middle;}
.each_module .col-xs-6 .module_name{font-size:.14rem;color:#426A8DFF;}
.each_module .col-xs-6 .module_time,.each_module .col-xs-6 .module_size{font-size:.12rem;color:#7595B1FF;}
.swiper-slide:nth-child(2n){width: 67px;}
.delete {background: #FF636AFF;height: .75rem;text-align: center;line-height: .75rem;    border-radius: 0 5px 5px 0;}
.moving_wrapper { position: absolute; top: 0; left: 0; height: .75rem; width: 100%; }
.bought_content,.local_content {display:none;}
.no_module span { color: #FF8828FF; }
.no_module { width: 100%; text-align: center; margin: 80px auto; color: #323232FF; }

.each_module:nth-child(2n+1) {padding-right: 5px;}
.each_module:nth-child(2n) {padding-left: 5px;}


.module_param_bg {display:none;position: fixed;top: 0;right: 0;left: 0;bottom:0;background: #000; opacity: .3;z-index: 10;}
.module_param {  display: none;  position: fixed; top: 0; bottom: 0; right: 0; left: 0; height: 385px; width: 315px; margin: auto; border-radius: 15px; font-size: .14rem; text-align: center; z-index: 11; background: rgba(185,239,255,1); box-shadow: 0px 0px 10px 0px rgba(33,86,145,0.2), 0px 0px 125px 0px rgba(56,153,240,1) inset; }
.param_top_title {  width: 2.08rem; height: .32rem; background:linear-gradient(0deg,rgba(85,181,227,1) 0%,rgba(53,129,227,1) 100%); border-radius: 0 0 .15rem .15rem; line-height: .32rem; margin: auto; font-size: .18rem; color: #fff;margin-bottom: .4rem;}
.each_param { width: 2.65rem; height: .3rem; line-height: .3rem; background: rgba(255,255,255,1); box-shadow: 0px 0px 2px 0px rgba(33,86,145,0.2); opacity: 0.8; border-radius: .15rem; margin: .15rem auto; text-align: left;padding: 0 10px; color:#617D8F;    font-size: .12rem;}
.each_param div.param_title{float: left;}
.each_param div.param_detail{float: right;color: #3379D9;}
.each_param div.param_detail.param_time{font-size:.15rem}
.module_param .print_btn{margin-top: .3rem;}
.note{color:#3379D9;font-size:.13rem;margin-top: .15rem;}
.note em{color:#FF7F0E;}
img.imgBtn.param_close { position: absolute; top: -.1rem; right: -.1rem; width: .45rem; }
.print_btn { background-image: url(../img/3dPrinting/btn_print.png); background-repeat: no-repeat; background-size: contain; width: 1.2rem; height: .65rem; margin: auto; }
