@font-face {
    font-family: 'HKFYTW7';
    src: url("./font/other/huakangfangyuantiW7-GB.TTC") format("truetype");
}
@font-face {
    font-family: 'webfont1';/*阿里巴巴-普惠体-Light*/
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_hwgsx4jws3b.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_hwgsx4jws3b.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_hwgsx4jws3b.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_hwgsx4jws3b.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_hwgsx4jws3b.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_hwgsx4jws3b.svg#AlibabaPuHuiTiL') format('svg'); /* iOS 4.1- */
}
@font-face {
    font-family: 'webfont2';/*阿里巴巴-普惠体-Heavy*/
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_hwgsx4jws3b.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_hwgsx4jws3b.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_hwgsx4jws3b.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_hwgsx4jws3b.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_hwgsx4jws3b.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_hwgsx4jws3b.svg#AlibabaPuHuiTiL') format('svg'); /* iOS 4.1- */
}
@font-face {
    font-family: 'webfont3'; /*阿里巴巴-普惠体-Medium*/
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_2zzdijq8wh7.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_2zzdijq8wh7.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_2zzdijq8wh7.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_2zzdijq8wh7.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_2zzdijq8wh7.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_2zzdijq8wh7.svg#AlibabaPuHuiTiM') format('svg'); /* iOS 4.1- */
}
@font-face {
    font-family: 'webfont4';/*阿里巴巴-普惠体-Bold*/
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_b8bi0f6tc6p.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_b8bi0f6tc6p.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_b8bi0f6tc6p.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_b8bi0f6tc6p.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_b8bi0f6tc6p.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_b8bi0f6tc6p.svg#Alibaba-PuHuiTi-Bold') format('svg'); /* iOS 4.1- */
}
@font-face {
    font-family: 'webfont5';/*阿里巴巴-普惠体-Regular*/
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_vuov7tvopdn.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_vuov7tvopdn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_vuov7tvopdn.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_vuov7tvopdn.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_vuov7tvopdn.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_vuov7tvopdn.svg#Alibaba-PuHuiTi-Regular') format('svg'); /* iOS 4.1- */
}
body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
}

a {
    color: #ff0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

canvas {
    display: block;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
    pointer-events: auto;
}

.dg.ac {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-color: #000000;
    color: #ffffff;
}

#overlay > div {
    text-align: center;
}

#overlay > div > button {
    height: 20px;
    background: transparent;
    color: #ffffff;
    outline: 1px solid #ffffff;
    border: 0px;
    cursor: pointer;
}

#overlay > div > p {
    color: #777777;
    font-size: 12px;
}
@charset "utf-8";html{background-color:#fff;color:#000;font-size:16px}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp{line-height:1.5;font-family:tahoma,arial,"Hiragino Sans GB",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:100%}
h1,h2,h3,h4,h5,h6{font-family:tahoma,arial,"Hiragino Sans GB","微软雅黑",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal}
address,cite,dfn,em,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu{list-style:none}
fieldset,img{border:0}
img,object,input,textarea,button,select{vertical-align:middle}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020"}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none;border: none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
mark{background-color:transparent}
a,ins,s,u,del{text-decoration:none}
sup,sub{vertical-align:baseline}
html {overflow-x: hidden;height: 100%;font-size: 50px;-webkit-tap-highlight-color: transparent;}
/*body {font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;color: #333;font-size: .28em;line-height: 1;-webkit-text-size-adjust: none;}*/
body {font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;color: #333;font-size: 16px;line-height: 1;-webkit-text-size-adjust: none;}
hr {height: .02rem;margin: .1rem 0;border: medium none;border-top: .02rem solid #cacaca;}
a {color: #25a4bb;text-decoration: none;}
html{font-size:625%}
body {  font-family: Helvetica,Verdana,sans-serif,'Microsoft Yahei'}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;font-family:Microsoft YaHei; }
.clearfix:after{content:'.';display:block;clear:both;visibility:hidden;line-height:0;height:0;font-size:0}

*{font-family: "HKFYTW7"}
#loading_data {display:none;position: fixed;top: 0;right: 0;left: 0;bottom:0;background:#FFF;opacity: .7;z-index: 999;}
#loading_data img{position: absolute;top: 48%;left: 48%;}


#container {
    background: #79B1EA; /* Old browsers */
    background: -moz-linear-gradient(top,  #79B1EA 0%, #4E92EF 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #79B1EA 0%,#4E92EF 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #79B1EA 0%,#4E92EF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79B1EA', endColorstr='#4E92EF',GradientType=0 ); /* IE6-9 */
}


#shapes *{color:#426A8D;}
#shapes{position: fixed;top: 0;right: 0;background:#F0F7FF;color:#000;width: 1rem;text-align: center;font-size: .14rem; line-height: 0.3rem;}
.arrow{color:#79c2de;}
.color_change{display: none;}
.child_wrapper{display: none;height:100%;max-width: 1rem;overflow: auto;background: #F0F7FF;position: fixed;top:0;right: 0;}
.child_title { font-size: .14rem; position: fixed; top: 0; right: 0; z-index: 2; width: 1rem; background: #F0F7FF; }
.active_shape{background: rgba(118,174,234,.3)!important;}
.active_shape .color_change{display: block;line-height: .55rem;}
.active_shape .color_change .color_circle { display: inline-block; margin: 0 .08rem; }
.active_shape .color_change .color_circle.color_white{background:#FFF;}
.active_shape.module{height: 1.1rem;}
.module { position: relative; width: 1rem; height: .75rem; float: left;}
.module img {margin:.1rem auto 0; max-width: 50%; max-height: 50%;}
.name {text-align: center; width: 100%; font-size: .12rem; line-height: .12rem;}
.module.shapes.cube,.module.lego.standing{margin-top:.32rem;}

.obj_control *{color:#2B9CFF;}
.obj_control {position: fixed; bottom: 0; left: 0; height: .54rem;width: 100%;z-index:1;}
.obj_control_wrapper{display: none;  width: fit-content;height: .54rem;position: relative; margin:0 auto;background: #fff; border-radius: .2rem .2rem 0 0 ;text-align: center;top: 0;padding: .05rem .1rem;}
.control_btn { color: #79c2de; font-size: .2rem;float:left;min-width: .3rem; min-height: .3rem;padding: 0 .1rem;}
.control_btn .iconfont{font-size:.2rem;line-height: .26rem;width: .28rem; height: .28rem;display: block;margin: auto;}
/*.active_control { background: #eeff9a; border-radius: 50%; }*/
.active_control .icon_wrapper {width: .28rem; height: .28rem; margin: auto;background-image: url("../img/active_bg.png");background-repeat: no-repeat;background-size: cover;}
.noActive_control .iconfont{color:#eee;}

.control_btn.color_control{padding-top: .1rem;}
.color_circle { width: .25rem; height: .25rem; background: #f2f545; margin: auto; border-radius: 50%; }
.active_color{border:1px solid #2067C8}
.white_control .color_circle{background: #fff;border:1px solid #BABBBB}
.btn_name { font-size: .1rem;font-family: "webfont5", serif; }
.red{color:red;}
.blue{color:blue;}
.green{color:lawngreen;}

.zoom_control { position: absolute; color: #fff; bottom: 0; right: 1.2rem; display: block; line-height: .35rem;}
.zoom_control div { float: left; }
.zoom_control .iconfont { font-size: .2rem;}
.zoom_control .zoom_index { font-size: .13rem;line-height: .35rem; padding: 0 .03rem;width: .4rem; text-align: center;}

.side_control,.save_control{display: none; position: fixed;top: .1rem; left: .1rem;}
.sides_wrapper{display: none;position: absolute;}
.side_control_btn.iconfont { font-size: .2rem; color: #fff;}

.module_btns{position: fixed;top: .1rem; left: .1rem;}
.btn_main{float: left}
.btn_main .btn_child{width:.44rem;height: .44rem;background-image: url("../img/btn_bg.png");background-repeat: no-repeat;background-size: contain;position: relative;}
.btn_main .btn_child .iconfont { font-size: .28rem; line-height: .4rem; color: #fff;left: 0;display: block; text-align: center; }
.btn_main.save_module{margin-left: .1rem;}
.btn_main.save_module .btn_child .iconfont { font-size: .25rem; line-height: .41rem;}
.save_module{left:.5rem}


.save_control{left:.5rem}
.save_stl.iconfont { font-size: .2rem; color: #fff;}
.save_control .save_stl.iconfont.noActive_save { font-size: .2rem; color: #a5a3a3;}

/*lego*/
.dg.ac.lego_constrution{right: .9rem;}
.dg .cr.string,.dg .cr.number{border-left: none!important;}
.module.lego.Car { margin-top: .32rem; }
/*.dg li:not(.folder){background:#fff!important;}*/

/*dialog*/
.dialog-wrap-show .dialog-content { width: 2.5rem; }
/*dialog end*/

.pose{display: none;}
.startDrag{max-width:.9rem;max-height: .9rem;z-index: 99999;position: absolute;}

.main_wrapper{width:100%;}
#container canvas{float:left;}
div#shapes { width: 100px;height: 100%; float: right; background: #F0F7FF; position: fixed; right: 0; top: 0; overflow: auto;z-index: 2;}
div#shapes.closeShapes{display: none;}
/*.show_more{background-image: url("../img/showmore.png");background-repeat: no-repeat;background-size: cover;position: fixed;right:99px;top: 44%;width: 17px; height: 47px;cursor: pointer;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	!* IE 9 *!
    -moz-transform:rotate(180deg); 	!* Firefox *!
    -webkit-transform:rotate(180deg); !* Safari 和 Chrome *!
    -o-transform:rotate(180deg); 	!* Opera *!}*/
.show_more{width:.15rem;height:.6rem;background:#F0F7FF;border-radius: .1rem 0 0 .1rem;position: fixed;right:99px;top: 44%;}
.show_more img { position: absolute; left: 4px; top: 25px; cursor: pointer;width:.05rem;height:.1rem;-ms-transform:rotate(180deg); 	/* IE 9 */-moz-transform:rotate(180deg); 	/* Firefox */-webkit-transform:rotate(180deg); /* Safari 和 Chrome */-o-transform:rotate(180deg); 	/* Opera */}
.show_more.show_more_close{right:0;}
.show_more.show_more_close img{transform:rotate(180deg);
    -ms-transform:rotate(0deg); 	/* IE 9 */
    -moz-transform:rotate(0deg); 	/* Firefox */
    -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
    -o-transform:rotate(0deg); 	/* Opera */}

.note {display:none; width: 1.1rem; background: #7BB3FF; border-radius: 5px; position: fixed; top: .91rem; left: .1rem; font-size: 0.1rem; color: #426A8D; line-height: .13rem; padding: .04rem; }

